In [1]:
import pandas as pd

In [6]:
df=pd.read_csv('/content/drive/MyDrive/CAR DETAILS FROM CAR DEKHO.csv')
x=df.drop('selling_price',axis=1) # Input
y=df['selling_price']  #Target
y.head()

0     60000
1    135000
2    600000
3    250000
4    450000
Name: selling_price, dtype: int64

In [4]:
x.shape

(4340, 7)

In [5]:
y.shape

(4340,)

In [7]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_text=train_test_split(x,y,test_size=0.2,random_state=42)#80% training and 20%(test_size is 0.2)testing divided

x_train.shape

(3472, 7)

In [8]:
x_test.shape

(868, 7)

In [9]:
y_train.shape

(3472,)

In [10]:
y_text.shape

(868,)