In [1]:
#Feature scaling (normalization and standardization)
import pandas as pd
import numpy as np

In [4]:
df=pd.read_csv('/content/drive/MyDrive/CAR DETAILS FROM CAR DEKHO.csv')
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [5]:
#Normalization--(MIN-MAX scalar)
#The purpose is to ensure that all features contribute equally to the model and to avoid the domination of features with larger values.
df_new=df[['selling_price','km_driven','year']]

from sklearn.model_selection import train_test_split

x=df_new.drop('selling_price',axis=1)
y=df_new['selling_price']

x.shape

(4340, 2)

In [6]:
y.shape

(4340,)

In [7]:
x_train,x_test,y_train,y_text=train_test_split(x,y,test_size=0.33,random_state=42)
x_train.shape

(2907, 2)

In [8]:
x_test.shape

(1433, 2)

In [11]:
from sklearn.preprocessing import MinMaxScaler

scalar=MinMaxScaler()#three arguments(feature_range: Any = (0, 1), *, copy: bool = True, clip: bool = False)
x_train_scaled=scalar.fit_transform(x_train)
x_test_scaled=scalar.fit_transform(x_test)

x_train_scaled

array([[0.49590874, 0.5       ],
       [0.06198751, 0.82142857],
       [0.02479426, 0.96428571],
       ...,
       [0.06322728, 0.85714286],
       [0.09918076, 0.75      ],
       [0.09918076, 0.75      ]])

In [10]:
x_test_scaled

array([[0.22834875, 0.58333333],
       [0.07687647, 0.95833333],
       [0.11895433, 0.5       ],
       ...,
       [0.25692843, 0.625     ],
       [0.13262684, 0.875     ],
       [0.0568707 , 0.875     ]])

In [14]:
#make the obtained output from the normalization to dataframe
x_train_scaled=pd.DataFrame(data=x_train_scaled,columns=x_train.columns)
x_test_scaled=pd.DataFrame(data=x_test_scaled,columns=x_test.columns)

x_train_scaled.head()

   km_driven      year
0   0.495909  0.500000
1   0.061988  0.821429
2   0.024794  0.964286
3   0.099181  0.892857
4   0.123976  0.464286

In [33]:
x_test_scaled.head()

   km_driven      year
0   0.228349  0.583333
1   0.076876  0.958333
2   0.118954  0.500000
3   0.402685  0.750000
4   0.171189  0.833333