In [15]:
import pandas as pd
import numpy as np

In [16]:
df=pd.read_csv('/content/drive/MyDrive/missing_values.csv')
df.head()

   Unnamed: 0    A    B    C    D
0           0  1.0  NaN  1.0  1.0
1           1  2.0  2.0  2.0  2.0
2           2  3.0  3.0  NaN  3.0
3           3  NaN  2.0  4.0  4.0
4           4  5.0  5.0  5.0  NaN

In [17]:
df.isnull().sum()

Unnamed: 0    0
A             2
B             2
C             2
D             1
dtype: int64

In [18]:
from sklearn.impute import SimpleImputer # it is used to fill missing values with (mean,median,most_frequent)

# simple_mean = SimpleImputer(strategy='most_frequent')
# df['B'] = simple_mean.fit_transform(df[['B']])


df.fillna(10)

   Unnamed: 0     A     B     C     D
0           0   1.0  10.0   1.0   1.0
1           1   2.0   2.0   2.0   2.0
2           2   3.0   3.0  10.0   3.0
3           3  10.0   2.0   4.0   4.0
4           4   5.0   5.0   5.0  10.0
5           5   6.0   6.0  10.0   6.0
6           6   3.0   3.0   3.0   7.0
7           7  10.0   3.0   4.0   8.0
8           8   8.0  10.0   4.0   9.0
9           9   9.0   9.0   9.0  10.0